<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p>String = <%= @expr %> </p>
    <p>Result = <%= @result %></p>
  </div>
</div>

